<a href="https://colab.research.google.com/github/regza22/nikitakotov/blob/main/%D0%94%D0%972_%D0%9A%D0%BE%D1%82%D0%BE%D0%B2_%D0%91%D0%98%D0%9A_24_%D0%98%D0%921.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1

In [17]:
a = int(input("Введите первый катет: "))
b = int(input("Введите второй катет: "))

c = (a**2 + b**2)

print(f"Гипотенуза треугольника: {c }")

Введите первый катет: 5
Введите второй катет: 3
Гипотенуза треугольника: 34

Задание 2

In [18]:
number = int(input("Введите целое число: "))

print("Следующее число после", number, "это", str(number + 1) + ".")

print("Предыдущее число перед", number, "это", str(number - 1) + ".")

Введите целое число: 33
Следующее число после 33 это 34.
Предыдущее число перед 33 это 32.

Задание 3

In [13]:
number = input("Введите четырехзначное число: ")

if len(number) == 4 and number[0] == number[3] and number[1] == number[2]:
    print(1)
else:
    print(0)

Введите четырехзначное число: 4321
0

Задание 4

In [12]:
h = int(input("Введите высоту шеста (h): "))
a = int(input("Введите сколько улитка поднимается за день (a): "))
b = int(input("Введите сколько улитка спускается за ночь (b): "))
days =((h - b) / (a - b))
print(f"Улитка доползёт до вершины шеста на {days} день")

Введите высоту шеста (h): 10
Введите сколько улитка поднимается за день (a): 2
Введите сколько улитка спускается за ночь (b): 1
Улитка доползёт до вершины шеста на 9.0 день

Задание 5

In [5]:
n = int(input())

hours = (n // 3600) % 24
minutes = (n % 3600) // 60
seconds = n % 60

print(f"{hours}:{minutes:02}:{seconds:02}")

32
0:00:32

Задание 6

In [4]:
h1 = int(input())
m1 = int(input())
s1 = int(input())

h2 = int(input())
m2 = int(input())
s2 = int(input())

time1 = h1 * 3600 + m1 * 60 + s1
time2 = h2 * 3600 + m2 * 60 + s2

diff = time2 - time1

print(f"Разница в секундах: \n{diff}")

3
2
53
23
444
2321
Разница в секундах:
100788

Задание 7

In [3]:
a = int(input())
b = int(input())

a, b = b, a

print(a, b)

1
3
3 1

Задание 8

In [2]:
n, k = map(int, input().split()) #Пример ввода: "5 8"

result = n * (k % n) // n

print(result)

3 8
2

Задание 9

In [1]:
number = int(input("Введите трехзначное число: "))

sum = sum(int(digit) for digit in str(number))

print(sum)

Введите трехзначное число: 111
3