<a href="https://colab.research.google.com/github/regza22/nikitakotov/blob/main/%D0%9A%D0%BE%D1%82%D0%BE%D0%B2_%D0%91%D0%98%D0%9A_24_%D0%98%D0%921_25.12_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
def sum_numbers():
    total_sum = 0
    while True:
        number = int(input())
        if number == 0:
          break
        total_sum += number
    return total_sum

print (f"Сумма введеных чисел: {sum_numbers()}")

53
23
87
2456
0
Сумма введеных чисел: 2619

In [19]:
names = []
phones = []
while True:
    name = input("Имя ")
    if name == '0':
      break
    phone = input("Телефон ")
    names.append(name)
    phones.append(phone)
sorted_names = sorted(names)
print("Отсортированные имена")
for name in sorted_names:
    print(name)
sorted_phones = sorted(phones)
print("Отсортированные телефоны")
for phone in sorted_phones:
    print(phone)

Имя Антоза
Телефон 2352131231
Имя Арсений
Телефон 764523436
Имя Даниил
Телефон 64242466
Имя Андрей
Телефон 854534236
Имя Алена
Телефон 134631234
Имя 0
Отсортированные имена
Алена
Андрей
Антоза
Арсений
Даниил
Отсортированные телефоны
134631234
2352131231
64242466
764523436
854534236

In [22]:
def sum_numbers():
    total = 0
    while (number := int(input("Введите число : "))) != 0:
        total += number
    print(f"Сумма введенных чисел: {total}")
sum_numbers()

Введите число : 23
Введите число : 76
Введите число : 123
Введите число : 9
Введите число : 0
Сумма введенных чисел: 231